.contain{
  background-color: rgb(245 241 235);
}
h1{
  color: rgb(107 93 79);
  font-size: 50px;
}
h2{
  color: rgb(107 93 79);
}
p{
  line-height: 1.8;
color: #6b5d4fcc;
}
span{
  color:#6b5d4fcc ;
}
